<div id="map-canvas"></div>
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}


    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field--item') }}>{{ item.content }}</div>
    {% endfor %}

<script src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyAPkXptr5obysV_Z_KXeo4e6vSRm8VVfHY"></script>
<script type="text/javascript" src="/themes/zaki/js/markerwithlabel.js"></script>
<script src="/core/assets/vendor/jquery/jquery.min.js?v=2.2.3"></script>
<script type="text/javascript"> 
$( document ).ready(function() {

  var geolatlong = $(".geolocation-latlng").html();
  var arr = geolatlong.split(',');
  var geolat = parseFloat(arr[0]);
  var geolong = parseFloat(arr[1]);
  var geolat_anchor = geolat - 20;
  var geolong_anchor = geolong - 20;
  //console.log(parseFloat(arr[0]));

  var map;
    function initMap() {

      map = new google.maps.Map(document.getElementById('map-canvas'), {
        zoom: 6,
        scrollwheel: false,
        center: {lat: geolat, lng: geolong}
      });

      var markerLatLng = new google.maps.LatLng(geolat, geolong);

      var marker1 = new MarkerWithLabel({
       position: markerLatLng,
       draggable: false,
       raiseOnDrag: false,
       map: map,
       labelContent: "<div class=\"rings\"></div>",
       labelAnchor: new google.maps.Point(39, 39),
       labelOrigin: new google.maps.Point(geolat, geolong),
       labelClass: "labels", // the CSS class for the label
       labelStyle: {opacity: 1},
       labelInBackground: false,
       icon: pinSymbol('red')
      });
    }
    function pinSymbol(color) {
      return {
        path: 'M 0,0 C -2,-20 -10,-22 -10,-30 A 10,10 0 1,1 10,-30 C 10,-22 2,-20 0,0 z',
        fillColor: color,
        fillOpacity: 1,
        strokeColor: '#FFF',
        strokeWeight: 1,
        scale: 1.25
      };
    }

    google.maps.event.addDomListener(window, 'load', initMap);
});

    
</script>
